.input-btn{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    height: 4px;
    justify-content: space-between;
    padding: 200px;
}
.btn-2{
  padding: 0px 20px;
  font-size: 14px;
  font-weight: bold;

}

@media (min-width: 768px) {
  .input-container{
    max-width: 768px;
  }
}

