body {
    font-family: 'Didact Gothic', sans-serif;
}
.App {
    width: 400px;
    align-items: center;
    display: flex;
}

img {
    position: relative;
    width: 600px;
    height: auto;
  }
.navbar-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: row;
    cursor: pointer;
    color: #18A0FB;
    font-weight: bold;
}